<html>
<div class="main">
  <nav>
    <div>
      <a class="navbar-brand">Angular Router</a>
      <ul>
        <li class="nav-item"><a class="nav-link" routerLink="about">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="Login">Login</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
</html>